/* styles.css */

#anchorPane {
    -fx-background-color: #f0f0f0; /* Set the background color of the AnchorPane */
}

.button {
    -fx-text-fill: #ffffff; /* Set the text color of the buttons */
    -fx-font-size: 16px; /* Set the font size of the buttons */
    -fx-font-family: "Arial"; /* Set the font family of the buttons */
    -fx-background-color: #4CAF50; /* Set the background color of the buttons */
   
}

.button:hover {
    -fx-background-color: #45a049; /* Set the background color of the buttons on hover */
}
